body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

section h2 {
    font-size: 4rem;
    padding: 30px;
    /* text-align: left; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
    font-weight: bold;
}

section svg{
    padding: 0;
}

div h1 {
    font-size: 10rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 100px, 100px 0;
}

.red {
    background: #e76f51;
}

.pink {
    background: #ce4257;
}

.purple {
    background: #9384D1;
}

.green {
    background: #73A9AD;
}

.brown {
    background: #202731;
}

.top {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.main {
    font-size: 50px;
    padding: 30px;
    text-align: center;
    font-family: 'Tilt Prism', cursive;
}

a {
    color: white;
    text-decoration: none;
}

a :hover {
    cursor: pointer;
}